<h1>Hello, my name is Lee</h1>

<p>My full name is Hyun Ho Lee.</p>
<p style="background-color: green; color:white;"> I am from South Korea. </p>
<p> I am a sophomore </p>
<p style="color:purple;"> <u>I am excited to study together with HUBERT FOR ONCE </u></p>
<%= image_tag("mee.jpg") %>


